@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: "Exo 2", sans-serif;
}

.fullscreen {
  width: 100%;
  height: 100vh;
}

.fullscreen-main {
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg-welcome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container, .container-sm, .container-md, .container-lg {
  border-radius: 15px;
  border-color: #f3fcf0;
  background-color: #f3fcf0;
}

.container-sm {
  width: 30%;
}

.container-md {
  width: 50%;
}

.container-lg {
  width: 90%;
}

.jumbotron, .jumbotron-transparent, .jumbotron-dark {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jumbotron h1, .jumbotron-transparent h1, .jumbotron-dark h1 {
  color: #f3fcf0;
  font-size: 4.8rem;
}

.jumbotron p, .jumbotron-transparent p, .jumbotron-dark p {
  color: #f3fcf0;
  font-size: 1.8rem;
  font-weight: bold;
}

.jumbotron-transparent {
  background-color: transparent;
}

.jumbotron-dark {
  background-color: rgba(31, 39, 27, 0.5);
}

.nav, .nav-fixed-top {
  background-color: #1f271b;
}

.nav-fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

.nav-items__item {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.5em 2em;
}

.nav-items__item a {
  color: #f3fcf0;
  text-decoration: none;
  font-size: 2.8rem;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.nav-items__item a:hover {
  background-color: #ffd23f;
  color: #1f271b;
  border-radius: 5px;
}

.products-view {
  padding: 1.5rem;
}

.grid-products {
  margin-top: 4.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 375px;
  grid-gap: 1rem;
}

.grid-products .product {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 10% 30% 20%;
      grid-template-rows: 40% 10% 30% 20%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  border: 1px solid #ecf0ea;
  border-radius: 4px;
  padding: 0.2rem;
}

.grid-products .product .product-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-products .product .product-img img {
  max-width: 100%;
  max-height: 100%;
}

.grid-products .product .title {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-products .product .title h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.grid-products .product .description {
  padding: 1rem;
}

.grid-products .product .description p {
  font-size: 1.2rem;
  text-align: justify;
}

.grid-products .product .description p ~ p {
  font-size: 2.4rem;
  font-weight: bold;
}

.grid-products .product .description p span {
  color: #809d71;
}

.grid-products .product .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-products .product .order a {
  background-color: #ffd23f;
  padding: 0.5rem 1rem;
  font-size: 2.5rem;
  border-radius: 4px;
  text-decoration: none;
  color: #1f271b;
}

.card {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 60% 20%;
      grid-template-rows: 20% 60% 20%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card__header h1 {
  font-size: 2.4rem;
  text-align: center;
  line-height: 2.4rem;
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card__footer a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #1f271b;
}

.btn, .btn-dark {
  border-radius: 10px;
  border-width: 1px;
  border-color: #f3fcf0;
  border-style: solid;
  outline: none;
  font-size: 2.4rem;
  text-transform: uppercase;
  padding: 0.5em 1em;
  cursor: pointer;
}

.btn-dark {
  background-color: #1f271b;
  border: 2px solid #ffd23f;
  color: #ffd23f;
}

.btn-dark:hover {
  background-color: #f3fcf0;
  border: 2px solid #1f271b;
  color: #1f271b;
}

.form {
  width: 100%;
  padding: 1em 0.5em;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group input {
  width: 100%;
  font-size: 3.8rem;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #1f271b;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding: 0.1em 0.5em;
  outline: none;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block {
  width: 100%;
  display: block;
}
/*# sourceMappingURL=main.css.map */